

* {
  box-sizing:border-box;
}
html {
  font-size:62.5%;
  font-family: 'Montserrat', sans-serif;

}
.flex-container{
  display:flex;

}
header{
  width: 95%;
  margin: auto;
  height: 5rem;
  top:0;
  left:0;
  z-index:5;
  color: $secondary-color;
  margin-top: 5rem;

}
button i {
  width: 2.5rem;
  text-align:center;
}
header input {
  width: 100%;
  height: 5rem;
  float: left;
  background: $tertiary-color;
  border-bottom-left-radius: 2.5rem;
  border-top-left-radius:2.5rem;
  justify-content:center;
  align-items:center;
  font-size: 1.5rem;
  text-indent: 2.0rem;
  border: 2px solid $secondary-color;
  border-right: 1px solid $secondary-color;
  color:$secondary-color;
  
}
header button{
  border-bottom-right-radius: 2.5rem;
  border-top-right-radius:2.5rem;
  border:none;
  color: $secondary-color;
  border: 2px solid $secondary-color;
  border-left: 1px solid $secondary-color;

}
main {
  font-size: 1.5rem;
  text-indent: 1rem;
}
#lists{
  width: 70%;
  margin: auto;
}
ul{
  border: 0.2rem solid $secondary-color;
  margin: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.1rem;
}
li{
  background-color:$tertiary-color;
  margin: 0.5rem;
  padding: 0.5rem;
}
ul div li {
  display: inline-block;
}
.crossed{
  text-decoration: line-through;
}
ul div {
  display: flex;
  justify-content: space-between;
}
ul div input{
  position: relative;
}
.displayNone{
  display:none;
}
.deleteBtn {
  border: none;
  background-color:transparent;
}